body {
    margin: 0;
    padding: 0;
    background: transparent;
}

/* 独立访问时才加背景 */
body.full {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0f172a, #0b1120);
}


.card {
    width: 420px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

#server-icon {
    width: 64px;
    height: 64px;
    border-radius: 12px;
}

.server-name {
    font-size: 20px;
    font-weight: bold;
}

.status {
    font-size: 14px;
    margin-top: 4px;
}

.status.online {
    color: #22c55e;
}

.status.offline {
    color: #ef4444;
}

.info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.motd {
    margin-top: 15px;
    white-space: pre-line;
    line-height: 1.4;
    font-size: 15px;
}

.player-section {
    margin-top: 15px;
}

.player-title {
    font-size: 14px;
    margin-bottom: 6px;
}

.player-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.player {
    background: rgba(255,255,255,0.08);
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 13px;
}
